{% extends "base_template.html" %}
{% autoescape None %}
<!--<link>-->
{% block content %}
<h3>References</h3>
<p>Here are some helpful links for learning web development.</p>

<div>
    <a href="https://developer.mozilla.org/en-US/docs/Learn">Web Development Training from Mozilla</a><br>
    <a href="https://getbootstrap.com/">Bootstrap Web UI Framework</a><br>
    <a href="https://www.tornadoweb.org/en/stable/">Tornad Python Web Server Framework</a>
</div>
<script type="text/javascript">
    //no scripts
</script>

{% end %}